graphs/*
aggregated_istio_data.csv
aggregated_istio_rates.csv
error_grpc_0_0.0_DR.csv
error_grpc_200_2.0_DR.csv
error_grpc_200_2.0_UC.csv
error_grpc_200_4.0_-.csv
error_grpc_200_13.0_-.csv
error_grpc_200_14.0_UC.csv
error_grpc_200_14.0_UF.csv
error_http_200_DC.csv
error_http_302_-.csv
error_http_500_-.csv
kiali_kpi_metrics_proccessed.csv
kiali_kpi_metrics.csv
kiali_latency_percentiles.csv
new_request_istio_data.csv
raphtory_windowed_anomalies.csv
success_istio_data.csv